doctype 5
html
  head
    title Mega Facts
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
  body
    #container
      #header
      #content
        block content
      #footer
        